@model Doctor
<h1 class="alert alert-warning">Dr/@Model.FirstName @Model.LastName Details</h1>
<partial name="_DocData" />
<a asp-controller="Doctors" asp-action="GetIndexView"><i class="bi bi-backspace"></i>  Back to List</a>